.UploadPage .howto {
  padding: 1em;
  font-size: 0.8em;
  text-align: left;
  color: #f2f2f2ce;
}

.UploadPage .howto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.UploadPage .howto li {
  padding: 0.5em;
  list-style: outside;
  margin-left: 2em;
}
