body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
ul {
  display: flex;
  list-style: none;
  padding: 1em;
  justify-content: space-evenly;
}
a {
  display: flex;
  justify-content: center;
}

a.demo {
  margin-bottom: 4em;
}

.Landing .about {
  background-color: #f2f2f2;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-basis: 2em;
  align-items: center;
  color: black;
  line-height: 1.5em;
}

.Landing .about p {
  padding: 0.5em;
  width: 80vw;
  margin-top: 0em;
  margin-bottom: 0.4em;
  font-size: 0.93em;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0.5px 0 0 rgba(13, 31, 41, 0.75);
}

.intro {
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
  color: #f2f2f2ce;
}

.intro ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.intro li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}

.splash {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  max-width: 400px;
  margin-bottom: 1em;
  box-shadow: 0 0 1px #f2f2f2;
}
