body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}
ul {
  display: flex;
  list-style: none;
  padding: 1em;
  justify-content: space-evenly;
}
.Landing a {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.Landing .landing-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

a.demo {
  margin-bottom: 4em;
}

.Landing .menu {
  width: 100%;
}

.Landing .about {
  background-color: #f2f2f2;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 1em;
  /* width: 100vw; */
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 2em;
  align-items: center;
  color: black;
  line-height: 1.5em;
}

.Landing .about h3 {
  color: #1b9bb1;
}

.Landing .about p {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 80vw;
  margin-top: 0em;
  margin-bottom: 0.4em;
  max-width: 600px;
  font-size: 0.93em;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 0 0 rgba(13, 31, 41, 0.169);
}

.Landing .splash {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.Landing .splash img {
  padding: 0 10px;
  width: 100%;
  max-width: 600px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
