.RegistrationForm label {
  color: #f2f2f2;
}

.RegistrationForm .red {
  color: red;
}

.RegistrationForm .white {
  color: white;
}

.RegistrationForm {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
