.LoginForm label {
  color: #f2f2f2;
}

.LoginForm .red {
  color: red;
}
.LoginForm .white {
  color: white;
}

.LoginForm {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
