h1 {
  color: white;
  text-align: center;
}
.nav {
  color: white;
}

nav .logo {
  font-weight: lighter;
  font-family: "AvenirNextLTPro-Regular";
  font-size: 1.5em;
  text-shadow: 1px 1px 8px #fff, 1px 1px 14px rgba(255, 255, 255, 0.15);
}

.authmenu {
  position: absolute;
  text-decoration: underline;
  right: 1em;
  top: 10px;
  font-size: 0.9em;
}

.authmenu.top {
  top: 0.5em;
}

.authmenu.bottom {
  top: 2em;
}

.container {
  position: relative;
}
